.flake {
    position: absolute;
    border-radius: 100%;

    width: var(--size);
    height: var(--size);
    top: var(--top);
    left: var(--left);
    background-image: radial-gradient(var(--color), transparent 60%);
}